@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body {
    margin: 0;
    background-color: black;
    color: white;
}

* {
    font-family: 'DM Serif Display', serif;
}

:root {
    --url: url("");
    --colorDegradado: rgb(250,250,250);
    --colorText: black;
}

section {
    width: 90%;
    margin: auto;
}

.home {
    nav {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 2rem 0;
        height: auto;
    }
    .logo {
        @extend nav;
        margin: 0;
        p{
            margin: 0;
        }
        img {
            width: 30px;
            height: 30px;
            filter: invert(100%);
        }
    }

    .switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 2.5em;
        height: 1.5em;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .5s;
        border: 1.5px solid #fff;
        border-radius: 30px;
        background-color: #800a97;
        box-shadow: 0 0 5px rgba(160, 6, 190, 1),
        0 0 15px rgba(160, 6, 190, 1),
        0 0 40px rgba(160, 6, 190, 1),
        0 0 80px rgba(160, 6, 190, 1);
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 1.2em;
        width: 1.2em;
        border-radius: 50%;
        left: 10%;
        bottom: 7%;
        box-shadow: inset 8px -3px 0px 0px #fff000;
        transition: .5s;
      }
      
      input:checked + .slider:before {
        transform: translateX(70%);
        box-shadow: inset 15px -4px 0px 15px #fff000;
      }

    .show {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        p {
            width: 10px;
            word-wrap: break-word;
            text-align:center;
            margin: 0 .3rem;
            transition: all 2s;
        }
        .cont-slider {
            .slide-content {
                margin: 0 5rem;
                overflow: hidden;
                height: 450px;
                .card {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 100%;
                    }
                }
            }
            .swiper-button-next:after, .swiper-button-prev:after {
                color: #fff;
            }
        }
    }
    #home__text {
        width: 80%;
        margin: 1.8rem auto;
        text-align: center;
        font-size: 13px;
    }
}

.topTen {
    margin-bottom: 2rem;
    p {
        font-size: 40px;
    }

    .cont-cards {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        .card {
            position: relative;
            display: flex;
            align-items: center;
            gap: 2rem;
            height: 280px;
            overflow: hidden;
            transition: top .5s;

            img {
                width: 50%;
                height: 100%;
            }
            .resume {
                position: absolute;
                color: var(--colorText);
                width: 46%;
                right: 5px;
                h1{
                    margin: 0;
                }
                h4 {
                    margin: 0 0 1rem 0;
                    color: #777171;
                }
            }
        }
        .card:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(155,155,155,0) 30%  , var(--colorDegradado) 50%);
        }
        .card:after {
            content: "";
            position: absolute;
            background-image: var(--url);
            background-size: 100% 100%;
            width: 50%;
            height: 100%;
            left: 0;
            top: 100%;
            transition: top .5s;
        }
        .card:hover:after {
            top: 0;
        }
    }
}

.footer {
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 14px;
    background-color: rgb(22,22,22);
    color: white;
    width: 100%;
    height: 3.5rem;
    picture {
        display: flex;
        position: absolute;
        right: 25px;    
        gap: 15px;
        img {
            width: 26px;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
            transition: transform .2s;
            cursor: pointer;
        }
        img:hover {
            transform: scale(1.3);
        }
    }
    p {
        margin: 0;
    }
}

@media (max-width:1090px){
    .home .show .cont-slider .slide-content {
        height: 400px;
    }
}
@media (max-width:1000px){
    .home {
        .show {
            gap: 1rem;
            p {
                font-size: 12px;
                width: 5px;
            }
            .cont-slider{
                .slide-content{
                    height: 350px;
                    margin: 0 3.5rem;
                }
                .swiper-button-next:after, .swiper-button-prev:after {
                    font-size: 28px;
                }
            }
        
        }
        #home__text    {
            font-size: 10px;
        }
    }
}

@media (max-width:850px){
    .home {
        .show {
            gap: .5rem;
        }
    }        
}   
@media (max-width:800px){
    .home {
        .show {
            p {
                position: absolute;
                z-index: -1;
                width: 0;
                opacity: 0;
            }
        }
    }        
}

@media (max-width:600px){
    .topTen {
        margin-bottom: 1rem;
        .cont-cards {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 1.2rem;
            .card {
                .resume {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width:440px){
    .home {
        width: 100vw;
        nav {
            margin: 1rem .2rem;
            p {
                font-size: 14px;
            }
            img {
                width: 20px;
                height: 20px;
            }
            .switch {
                transform: scale(.7);
                margin-right: .5rem;
            }
        }
        .show {
            .cont-slider {
                .slide-content {
                    height: 200px;
                    margin: 0 2.5rem;
                }
                .swiper-button-next:after, .swiper-button-prev:after {
                    font-size: 13px;
                } 
            }
        }
        #home__text {
            font-size: 10px;
        }
    }
    .topTen {
        margin-bottom: 1rem;
        p {
        font-size: 25px;
        }
        .cont-cards {
            // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            .card {
                height: 180px;
                .resume {
                    font-size: 10px;
                }
            }
        }
    }

    .footer {
        p {
            font-size: 12px;
        }
    }
}